<?xml version="1.0" encoding="UTF-8"?>
<com:modelEntity xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:com="http://www.mslv.com/studio/core/model/common" xmlns:inv="http://www.mslv.com/studio/inventory/model/specification" xmlns="http://www.mslv.com/studio/inventory/model/specification" xsi:type="inv:RulesetType" name="EWO_LINK_UPGRADE">
  <com:saveVersion>3</com:saveVersion>
  <com:id>abqs+T4vSmuKKEIbvP4jnQ</com:id>
  <inv:runExtensionLanguage>DROOLS</inv:runExtensionLanguage>
</com:modelEntity>